/* TODO: Setting up the project and variables */

@import url("templates_styles.css");

.main {
    margin-top: var(--header-height);
    position: relative;
}

.main__recommendation {
    padding: 2rem 0;
    padding-top: 0;
    background: var(--main-color);
}

:root {
    --recommendation-genre-size: 1.2rem;
    --recommendation-title-size: 1.5rem;
    --button-size: 1.5rem;
    --starts-size: 1.3rem;
    --price-size: 2rem;
    --product-not-found-paragraph-size: 3rem;
    --delete-message-size: 3rem;
    --choose-delete-size: 2.5rem;
    --hero-h1-size: 1.5rem;
    --hero-h1-mark: 2.2rem;
    --question-size: 1.8rem;
    --answer-size: 1.3rem;
    --faqs-introduction-size: 3rem;
    --faqs-arrows-size: 2.5rem;
    --testimonial-h2-size: 2rem;
    --testimonial-user-size: 4rem;
    --see-more-h1-size: 2.5rem;
    --product-content-size: 1.4rem;
    --my-cart-h1-size: 2.2rem;
    --my-cart-product-h2-size: 1.1rem;
    --my-cart-price-size: 1.2rem;
    --my-cart-change-quantity-size: .8rem;
    --my-cart-label-price-information-size: 1rem;
    --my-cart-price-input-size: .8rem;
    --my-cart-delete-size: .8rem;
    --my-cart-image-size: 7rem;
    --my-cart-amount-width: 3rem;
    --my-cart-total-width: 4.5rem;
    --confirm-deletation-button-size: 1.5rem;
    --confirm-deletaion-messaze-size: 2rem;
    --empty-cart-message-size: 2.2rem;
    --contact-input-size: 1.3rem;
    --contact-section-h2-size: 2.5rem;
    --contact-label-size: 1.4rem;
    --header-list-head-size: 1.8rem;
    --header-list-item-size: 1.2rem;
    --footer-logo-size: 3rem;
    --copywright-size: 1rem;
    --header-horizontal-padding: 1rem;
    --message-not-found-size: 2rem;
    --user-not-logged-message: 2rem;
    --message-sent-size: 2rem;
}

/* FIXME: Setting up the project and variables ends */

/* TODO: Recommendations start */

.recommendations {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    gap: 2rem;
    padding: 2rem 1rem;
}

.recommendation {
    position: relative;
    padding-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    height: 50rem;
    background: var(--main-color);
}

.recommendation__new__container,
.recommendation__button__container {
    position: absolute;
}

.no__product__found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.no__product__found p {
    font-size: var(--product-not-found-paragraph-size);
}

.choose__delete button,
.no__product__found p,
.delete__main p mark {
    color: red;
}

.delete__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    gap: 5rem;
}

.choose__delete {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.choose__delete button,
.choose__delete a {
    font-size: var(--choose-delete-size);
    background: var(--main-color);
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    filter: grayscale(50%);
}

.choose__delete button:hover,
.choose__delete a:hover {
    filter: none;
}

.choose__delete a {
    color: green;
}

.delete__main p {
    font-size: var(--delete-message-size);
    text-align: center;
}

.recommendation__button__container {
    display: flex;
    gap: 1rem;
}

.delete__form button {
    cursor: pointer;
}

.recommendation__new__container {
    top: 0;
    left: 0;
}

.recommendation__stars__container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.recommendation__stars__container .fa-star-half-stroke,
.recommendation__stars__container .fa-star {
    font-size: var(--starts-size);
    color: var(--orange);
}

.recommendation__price {
    font-weight: bold;
    font-size: var(--price-size);
}

.recommendation__price,
.button,
.recommendation__title,
.recommendation__new {
    text-transform: capitalize;
}

.recommendation__price ,
.button,
.recommendation__title {
    color: var(--black);
}

.recommendation__new {
    font-size: var(--recommendation-genre-size);
    clip-path: polygon(0 0, 0 100%, 74% 100%, 100% 0);
    padding: .3rem 1rem;
    padding-right: 1.5rem;
    background: var(--orange);
    color: var(--main-color);
    font-weight: 500;
}

.recommendation__informations {
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 4rem;
}


.recommendation__title {
    font-size: var(--recommendation-title-size);
}

.recommendation__image {
    width: 100%;
    height: 28rem;
    object-fit: cover;
}

.recommendation__button__container {
    padding: 1rem;
    bottom: .5rem;
}

.price__stars__container {
    position: absolute;
    bottom: 5.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.button {
    font-size: var(--button-size);
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--main-color);
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, .4);
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: var(--hero-background-color);
    color: var(--main-color);
}

.no__products {
    color: red;
}

/* FIXME: Recommendations end */

/* TODO: Hero section starts */

.hero,
.hero__content {
    display: flex;
    flex-direction: column;
}

.hero {
    background: var(--main-color);
    gap: 2rem;
    padding-bottom: 6rem;
}

.hero__image__container {
    background: var(--hero-background-color);
    width: 100%;
    height: 40rem;
    text-align: center;
}

.hero__image__container img {
    height: 100%;
}

.hero__content {
    gap: 2rem;
    padding: 1rem;
}

.hero__content h1 {
    font-size: var(--hero-h1-size);
    color: var(--black);
    font-weight: 500;
    line-height: 1.4;
}

.hero__content h1 mark {
    font-size: var(--hero-h1-mark);
    color: var(--hero-background-color);
    font-weight: 700;
    text-transform: capitalize;
}

.hero__content .button {
    width: 16rem;
}

.fa-arrow-down {
    margin-left: 1rem;
}

/* FIXME: Hero section ends */

/* TODO: Faqs start */

.faqs,
.faqs__section {
    display: flex;
}

.faqs__section {
    background: var(--main-color);
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    padding: 4rem 1rem;
}

.faqs__section h2 {
    text-align: center;
    font-size: var(--faqs-introduction-size);
    text-transform: capitalize;
    color: var(--hero-background-color);
}

.faqs {
    flex-direction: column;
    align-items: center;
}

.faq {
    border: 1px solid var(--hero-background-color);
    padding: 2rem 1rem;
    width: 100%;
    max-width: 100rem;
    cursor: pointer;
}

.question {
    color: #474554;
    font-size: var(--question-size);
    max-width: 46rem;
}

.answer {
    font-size: var(--answer-size);
    color: var(--black);
    margin-top: 2rem;
    display: none;
}

.faq.active .answer {
    display: block;
}

.faq i {
    font-size: var(--faqs-arrows-size);
    color: #474554;
}

.faq:hover i {
    color: var(--hero-background-color);
}

.faq.active i {
    color: var(--hero-background-color);
}

.faq.active .fa-caret-down,
.faq .fa-caret-up {
    display: none;
}

.faq.active .fa-caret-up {
    display: block;
}

.question__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* FIXME: Faqs end */

/* TODO: Testimonial starts */

.testimonial,
.testimonials,
.testimonial__section {
    display: flex;
    flex-direction: column;
}

.testimonial__section {
    gap: 8rem;
    padding: 1rem;
    margin-top: 8rem;
}

.testimonial__section h2 {
    font-size: var(--testimonial-h2-size);
    text-align: center;
    color: var(--hero-background-color);
}

.testimonials {
    align-items: center;
    justify-content: center;
    gap: 8rem 4rem;
}

.testimonial {
    border: 1px solid var(--hero-background-color);
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    padding-bottom: 2rem;
    height: 30rem;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    max-width: 30rem;
}

.testimonial p {
    color: #474554;
}

.testimonial .fa-user {
    font-size: var(--testimonial-user-size);
    position: relative;
    top: -2.5rem;
    color: var(--hero-background-color);
}

/* FIXME: Testimonial ends */

/* TODO: See more starts */

.product__image__container img {
    width: 100%;
    height: 35rem;
    max-width: 36rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.see__more__content__container {
    padding: 1rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.see__more__content__container .recommendation__informations {
    padding: 0;
}

.see__more__content__container .recommendation__stars__container {
    margin-top: 1.5rem;
}

.see__more__h1 {
    font-size: var(--see-more-h1-size);
    color: var(--black);
    max-width: 30ch;
}

.product__content {
    font-size: var(--product-content-size);
}

.see__more__h1__desktop {
    display: none;
}

.see__more__content__container .recommendation__price {
    font-size: 2.5rem;
}

.arrows,
.see__more__buttons__container,
.see__more__action__container form {
    display: flex;
    flex-direction: column;
}

.see__more__action__container form  {
    gap: 2rem;
}

.see__more__buttons__container {
    gap: 1rem;
    max-width: 22rem;
}

.cart,
.total__container,
.amount__container {
    display: flex;
}

.amount__container {
    align-items: center;
    gap: 1rem;
}

.total__container label,
.amount__container label {
    font-size: 2rem;
    text-transform: capitalize;
}

.arrows i,
.total__container mark,
.total__container input,
.amount__container input {
    color: var(--black);
}

.total__container input,
.amount__container input {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    width: 7rem;
    text-align: center;
    padding: 1rem;
}

.total__container {
    align-items: center;
    gap: 1rem;
}

.total__container input {
    width: 10rem;
}

.total__container mark {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.arrows {
    margin-left: .5rem;
}

.arrows i {
    cursor: pointer;
    font-size: 1.5rem;
}

.cart {
    align-items: center;
    gap: 1rem;
}

.see__more__buttons__container i {
    font-size: 1.5rem;
}

.see__more__buttons__container .fa-cart-plus {
    display: none;
    color: rgba(66, 146, 32, 0.89);
}

.see__more__buttons__container.added .fa-cart-shopping {
    display: none;
}

.see__more__buttons__container.added .fa-cart-plus {
    display: block;
} 

.product__not__found__container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.not__found__message {
    font-size: var(--message-not-found-size);
    color: rgb(231, 86, 86);
    text-align: center;
}

.user__not__logged__container {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    padding: 0 1rem;
}

.user__not__logged__container.active {
    display: flex;
}

.user__not__logged__container p {
    font-size: var(--user-not-logged-message);
    color: var(--main-color);
    text-align: center;
}

.user__not__logged__container a:first-of-type {
    margin-top: 3rem;
}

.user__not__logged__container a {
    width: 18rem;
}

.user__not__logged__container .fa-times {
    position: absolute;
    right: 1.5rem;
    top: 10%;
    color: var(--main-color);
    font-size: 4rem;
    cursor: pointer;
}

.cannot__add__more__container {
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    display: none;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}

.cannot__add__more__container.active {
    display: flex;
}

.cannot__add__more__container p {
    text-align: center;
    color: var(--main-color);
    font-weight: 500;
    font-size: 2rem;
}

/* FIXME: See more ends */

/* TODO: Cart starts */

.cart__product__image__container img {
    width: var(--my-cart-image-size);
    aspect-ratio: 1;
}

.cart__main {
    overflow: hidden;
    padding: .5rem;
    padding-top: 2rem;
}

.cart__main h1 {
    font-size: var(--my-cart-h1-size);
    text-align: center;
    text-transform: capitalize;
    color: var(--hero-background-color);
}

.cart__main h1 i {
    margin-left: .5rem;
}

.prices__information > div,
.change__quantity,
.prices__information,
.product__image__name__container,
.cart__product__informations,
.my__cart {
    display: flex;
}

.my__cart {
    margin-top: 2rem;
    flex-direction: column;
}

.cart__product__container {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 2rem 1rem;
    border-radius: 3px;
}

.cart__product__informations {
    flex-direction: column;
    gap: 1rem;
}

.cart__product__informations h2 {
    font-size: var(--my-cart-product-h2-size);
}

.prices__information label,
.change__quantity i,
.cart__product__informations mark {
    color: var(--black);
}

.cart__product__informations mark {
    font-size: var(--my-cart-price-size);
    text-transform: capitalize;
    font-weight: 500;
}

.product__image__name__container {
    gap: 2rem;
}

.prices__information {
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}

.change__quantity {
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.change__quantity i {
    font-size: var(--my-cart-change-quantity-size);
    cursor: pointer;
}

.change__quantity .fa-circle-minus:hover {
    color: rgb(230, 115, 115);
}

.change__quantity .fa-circle-plus:hover {
    color: dodgerblue;
}

.prices__information label {
    font-size: var(--my-cart-label-price-information-size);
    font-weight: 500;
    text-transform: capitalize;
}

.prices__information > div {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.quantity__container input {
    width: var(--my-cart-amount-width);
    text-align: center;
}

.prices__information input {
    background: rgba(0, 0, 0, .1);
    font-size: var(--my-cart-price-input-size);
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.prices__information button {
    font-size: var(--my-cart-delete-size);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    color: rgb(230, 115, 115);
    text-transform: capitalize;
    margin-left: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.cart__total__container input {
    text-align: center;
    width: var(--my-cart-total-width);
}

.prices__information .confirm__deletation__container {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 1001;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 0 1rem;
}

.confirm__deletation,
.confirm__deletation__informations__container,
.prices__information .confirm__deletation__container.active {
    display: flex;
}

.confirm__deletation__informations__container {
    flex-direction: column;
    gap: 2rem;
}

.confirm__deletation__informations__container h2 {
    font-size: var(--confirm-deletaion-messaze-size);
    color: var(--main-color);
    line-height: 1.5;
    text-align: center;
    max-width: 50ch;
}

.confirm__deletation__informations__container h2 mark {
    color: rgb(201, 79, 79);
}

.confirm__deletation {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.confirm__deletation mark {
    color: dodgerblue;
    text-transform: capitalize;
    border: 1px solid dodgerblue;
}

.confirm__deletation button,
.confirm__deletation mark {
    width: 18rem;
    font-size: var(--confirm-deletation-button-size);
    font-weight: 500;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 0;
    background: rgb(245,245,245);
}

.confirm__deletation button:hover,
.confirm__deletation mark:hover {
    border-color: rgba(0, 0, 0, .1);
    color: var(--main-color);
}

.confirm__deletation button:hover {
    background: rgb(202, 134, 134); 
}

.confirm__deletation mark:hover {
    background: rgb(51, 150, 248);
}

.confirm__deletation button {
    border: 1px solid rgb(224, 41, 41);
}

.no__product__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    padding: 1rem;
}

.no__product__cart h2 {
    font-size: var(--empty-cart-message-size);
    text-align: center;
    color: var(--black);
}

.no__product__cart a i,
.no__product__cart h2 i {
    color: rgb(250, 68, 68);
    margin-left: .5rem;
}

.no__product__cart a {
    max-width: 18rem;
}

.final__price__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.final__price {
    font-size: 2rem; 
    border: 1px solid var(--hero-background-color);
    color: var(--hero-background-color);
    padding: 1rem 2rem;
    text-transform: capitalize;
    white-space: nowrap;
}

.final__price mark {
    color: inherit;
}

.prices__informations__button__container button {
    width: 4rem;
}

.save__changes__container button {
    color: dodgerblue;
}

.save__changes__container {
    display: none;
}

.save__changes__container.active {
    display: block;
}

/* FIXME: Cart ends */

/* TODO: Contact starts */

.contact {
    padding: 1rem;
    margin-top: 4rem;
}

.contact h2 {
    text-align: center;
    font-size: var(--contact-section-h2-size);
    color: var(--hero-background-color);
}

.contact__form div,
.contact__form,
.contact__container {
    display: flex;
}

.contact__container {
    justify-content: center;
    margin-top: 8rem;
}

.contact__form div ,
.contact__form {
    flex-direction: column;
}

.contact__form {
    gap: 3rem;
    width: 100%;
    max-width: 50rem;
}

.contact__form div {
    gap: 1rem;
    width: 100%;
}

.contact__form label {
    font-size: var(--contact-label-size);
    color: var(--black);
    font-weight: 500;
    text-transform: capitalize;
}

.contact__form textarea,
.contact__form input {
    border: 1px solid rgba(0,0,0,0.4);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: var(--contact-input-size);
    color: var(--black);
}

.contact__form textarea {
    height: 10rem;
    resize: vertical;
    max-height: 30rem;
}

.contact__form__button__container {
    align-items: center;
}

.contact__form .button {
    width: 16rem;
}

.error__message {
    color: rgb(214, 100, 100);
    display: none;
}

.error__message.active {
    display: block;
}

.message__sent__container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 2000;
    padding: 0 1rem;
}

.message__sent__container.active {
    display: flex;
}

.message__sent {
    color: var(--hero-background-color);
    text-align: center;
    font-size: var(--message-sent-size);
    font-weight: 500;
}

.message__sent__container .button {
    font-weight: 550;
    border-radius: 1rem;
}

/* FIXME: Contact ends */

/* TODO: Footer starts */

.footer__contact__list,
.footer {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 10rem;
    gap: 4rem;
}

.footer__contact__list {
    gap: 1rem;
    padding: 0 var(--header-horizontal-padding);
}

.footer__contact__item:first-of-type {
    margin-bottom: 1rem;
}

.copywright,
.footer__logo,
.footer__contact__item h2 {
    text-transform: capitalize;
}

.copywright,
.footer__contact__item mark,
.footer__contact__item h2 {
    color: var(--black);
}

.footer__contact__item h2 {
    font-size: var(--header-list-head-size);
    font-weight: 500;
}

.footer__contact__item mark {
    font-size: var(--header-list-item-size);
    font-weight: 450;
}

.footer__contact__item mark i {
    margin-right: .4rem;
    color: var(--hero-background-color);
}

.footer__logo__container {
    padding: 0 var(--header-horizontal-padding);
}

.footer__logo {
    font-size: var(--footer-logo-size);
    color: var(--hero-background-color);
    font-weight: bold;
}

.footer__decoration {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .3);
}

.copywright__container {
    align-self: center;
    margin-top: -2rem;
}

.copywright {
    font-size: var(--copywright-size);
    font-weight: 500;
}

/* FIXME: Footer ends */

/* TODO: Media queries start */

@media screen and (min-width: 215px) {

    /* TODO: Cart adjustments */

    .prices__informations__button__container {
        position: absolute;
        right: .1rem;
    }

    .prices__information {
        overflow: visible;
    }

    /* FIXME: Cart adjustments end */
    
}

@media screen and (min-width: 280px) {

    /* TODO: Variables adjustments */

    :root {
        --recommendation-title-size: 1.8rem;
        --paragraph-size: 1.2rem;
        --hero-h1-size: 1.7rem;
        --hero-h1-mark: 2.5rem;
        --faqs-introduction-size: 3.5rem;
        --testimonial-h2-size: 2.8rem;
        --testimonial-user-size: 5rem;
        --see-more-h1-size: 2.7rem;
        --product-content-size: 1.6rem;
        --my-cart-h1-size: 2.6rem;
        --my-cart-product-h2-size: 1.4rem;
        --my-cart-price-size: 1.5rem;
        --my-cart-change-quantity-size: 1rem;
        --my-cart-label-price-information-size: 1.4rem;
        --my-cart-price-input-size: 1rem;
        --my-cart-delete-size: 1.3rem;
        --my-cart-image-size: 9rem;
        --my-cart-amount-width: 4rem;
        --my-cart-total-width: 6rem;
        --empty-cart-message-size: 2.8rem;
        --contact-input-size: 1.5rem;
        --contact-section-h2-size: 2.8rem;
        --contact-label-size: 1.6rem;
        --header-horizontal-padding: 2rem;
        --user-not-logged-message: 2.5rem;
    }

    /* FIXME: Variables adjsutments end */

    /* TODO: Recommendations adjustments */

    .recommendation__image {
        width: 100%;
        height: 30rem;
    }

    .recommendation {
        height: 52rem;
    }
    
    /* FIXME: Recommendations adjustments end */

    /* TODO: Faqs adjustments */

    .faq {
        padding: 3rem 2rem;
    }

    /* FIXME: Faqs adjustments end */

    /* TODO: Testimonial adjustments */

    .testimonial__section {
        padding: 1rem 2rem;
        gap: 10rem;
    }

    .testimonial {
        padding: 0 2rem;
    }

    .testimonial .fa-user {
        top: -3.3rem;
    }

    /* FIXME: Testimonial adjustments end */

    /* TODO: Cart adjustments */

    .prices__information {
        gap: 2rem;
    }

    .prices__informations__button__container {
        position: absolute;
        right: .5rem;
    }

    .confirm__deletation button,
    .confirm__deletation mark {
        width: 20rem;
    }

    .prices__informations__button__container button {
        width: 7rem;
    }

    /* FIXME: Cart adjustments end */

    /* TODO: See more adjustments */

    .cannot__add__more__container p {
        font-size: 2.4rem;
    }

    /* FIXME: See more adjustments end */

}

@media screen and (min-width: 350px) {

    /* TODO: Variables adjustments */
    
    :root {
        --recommendation-title-size: 2rem;
        --paragraph-size: 1.3rem;
        --hero-h1-size: 2rem;
        --hero-h1-mark: 3rem;
        --question-size: 2rem;
        --answer-size: 1.5rem;
        --testimonial-h2-size: 3rem;
        --see-more-h1-size: 3rem;
        --product-content-size: 2rem;
        --my-cart-h1-size: 3rem;
        --my-cart-product-h2-size: 1.5rem;
        --my-cart-change-quantity-size: 1.2rem;
        --my-cart-label-price-information-size: 1.6rem;
        --my-cart-price-input-size: 1.2rem;
        --my-cart-delete-size: 1.5rem;
        --my-cart-image-size: 10rem;
        --my-cart-amount-width: 5rem;
        --my-cart-total-width: 7rem;
        --empty-cart-message-size: 3.5rem;
        --contact-section-h2-size: 3rem;
        --contact-label-size: 1.7rem;
        --message-not-found-size: 3rem;
        --message-sent-size: 2.5rem;
    }

    /* FIXME: Variables adjsutments end */

    /* TODO: Recommendations adjustments */

    .recommendation__image {
        height: 32rem;
    }

    .recommendation {
        height: 55rem;
    }

    /* FIXME: Recommendations adjustments end */

    /* TODO: Hero section adjustments */

    .hero__content {
        padding: 0 2rem;
    }

    /* FIXME: Hero section adjustments end */

    /* TODO: Faqs adjustments */

    .faq {
        padding: 4rem 3rem;
    }

    .faqs__section {
        padding: 4rem 2rem;
    }

    .question__container {
        gap: 4rem;
    }

    /* FIXME: Faqs adjustments end */

    /* TODO: Testimonial adjsutments */

    .testimonial {
        padding: 0 3rem;
    }

    /* FIXME: Testimonial adjsutments end */

    /* TODO: See more adjustments */

    .see__more__content__container {
        padding: 1rem 2rem;
    }

    .user__not__logged__container .fa-times {
        right: 2rem;
    }

    /* FIXME: See more adjustments end */

    /* TODO: Cart adjustments */

    .cart__main {
        padding: 1rem 2rem;
    }

    .prices__information .confirm__deletation__container {
        padding: 0 2rem;
    }

    /* FIXME: Cart adjustments end */

    /* TODO: Contact adjustments */

    .contact {
        padding: 1rem 2rem;
    }

    .message__sent__container {
        padding: 0 2rem;
    }

    /* FIXME: Contact adjustments end */
    
}

@media screen and (min-width:450px) {

    /* TODO: Setting up the project starts */

    :root {
        --my-cart-product-h2-size: 2rem;
        --my-cart-change-quantity-size: 1.5rem;
        --my-cart-h1-size: 3.5rem;
         --user-not-logged-message: 3rem;
    }

    /* FIXME: Setting up the project ends */

}

@media screen and (min-width:500px) {

    /* TODO: Cart adjustments */

    .my__cart {
        align-items: center;
    }

    .cart__product__container {
        width: 44rem;
    }

    /* FIXME: Cart adjustments end */

    /* TODO: See more adjustments */

    .cannot__add__more__container {
        padding: 0 2rem;
    }

    /* FIXME: See more adjustments end */
}

@media screen and (min-width:600px) {

    /* TODO: Variables adjustments */
    
    :root {
        --recommendation-title-size: 2rem;
        --paragraph-size: 1.3rem;
        --hero-h1-size: 2.5rem;
        --hero-h1-mark: 4.1rem;
        --faqs-introduction-size: 4.5rem;
        --testimonial-h2-size: 4rem;
        --see-more-h1-size: 4rem;
        --contact-section-h2-size: 4.5rem;
    }

    /* FIXME: Variables adjsutments end */

    /* TODO: Recommendation starts */
    
    .recommendations {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 28rem));
    }

    .recommendation__image {
        height: 35rem;
    }

    .recommendation {
        height: 60rem;
    }

    /* FIXME: Recommendation ends */
}

@media screen and (min-width:768px) {

    /* TODO: Variables adjustments */

    :root {
        --recommendation-title-size: 2.2rem;
        --paragraph-size: 1.4rem;
        --delete-message-size: 5rem;
        --my-cart-image-size: 11rem;
        --my-cart-h1-size: 4rem;
        --confirm-deletation-button-size: 1.8rem;
        --confirm-deletaion-messaze-size: 2.6rem;
        --header-horizontal-padding: 4rem;
        --message-sent-size: 3rem;
    }
    
    /* FIXME: Variables adjustments end*/

    /* TODO: Recommendation starts */
    
    .recommendations {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 23rem));
    }

    .recommendation__image {
        height: 30rem;
    }

    /* FIXME: Recommendation ends */

    /* TODO: Faqs adjustments */

    .faqs__section {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }

    .faq {
        padding: 4rem;
        width: 42rem;
    }

    /* FIXME: Faqs adjsutments end */

    /* TODO: Testimonial adjsutments */

    .testimonials {
        flex-direction: row;
    }

    .testimonial {
        height: 38rem;
    }

    /* FIXME: Testimonial adjustments end */

    /* TODO: See more adjustments */

    .see__more__content__container {
        padding: 1rem 4rem;
        padding-top: 4rem;
        flex-direction: row;
        gap: 5rem;
    }

    .see__more__h1__container__mobile {
        display: none;
    }

    .see__more__h1__desktop {
        display: block;
    }

    .see__more__content__container .recommendation__informations {
        justify-content: flex-start;
    }

    .product__image__container img {
        width: 30rem;
        height: 38rem;
    }

    .cannot__add__more__container p {
        font-size: 3rem;
    }

    /* FIXME: See more adjustments end */

    /* TODO: Cart adjustments */

    .cart__product__container {
        width: initial;
    }

    .my__cart {
        display: grid;
        justify-content: center;
        align-items: initial;
        grid-template-columns: repeat(2, 35rem);
    }
    
    .confirm__deletation {
        flex-direction: row;
        gap: 5rem;
    }

    /* FIXME: Cart adjustments end */
}

@media screen and (min-width:850px) {

    /* TODO: Recommendation starts */
    
    .recommendations {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
    }

    /* FIXME: Recommendation ends */

    /* TODO: Faqs adjustments */

    .faqs__section {
        gap: 8rem;
    }

    .faq {
        padding: 4rem;
        width: 46rem;
    }

    /* FIXME: Faqs adjsutments end */
    
}

@media screen and (min-width:1000px) {

    /* TODO: Recommendation starts */
    
    .recommendations {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    }

    .recommendation__image {
        height: 35rem;
    }

    /* FIXME: Recommendation ends */

    /* TODO: Faqs adjustments */

    .faqs__section {
        gap: 10rem;
    }

    .faq {
        width: 55rem;
    }

    /* FIXME: Faqs adjsutments end */

    /* TODO: Cart adjustments */

    .my__cart {
        grid-template-columns: repeat(2, 40rem);
    }

    /* FIXME: Cart adjustments end */

    /* TODO: See more adjustments */

    .user__not__logged__container .fa-times {
        right: 5rem;
    }

    /* FIXME: See more adjustments end */
}

@media screen and (min-width:1280px) {

    /* TODO: Variables adjustments */

    :root {
        --paragraph-size: 1.5rem;
        --testimonial-h2-size: 5rem;
        --my-cart-image-size: 12rem;
        --contact-section-h2-size: 5rem;
        --header-horizontal-padding: 8%;
    }
    
    /* FIXME: Variables adjustments end*/

    /* TODO: Recommendation starts */
    
    .recommendations {
        grid-template-columns: repeat(3, minmax(15rem, 35rem));
    }

    .recommendation__image {
        height: 40rem;
    }

    .recommendation {
        height: 63rem;
    }

    /* FIXME: Recommendation ends */

    /* TODO: Hero adjustments */

    .hero {
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }

    .hero__image__container {
        width: 50%;
        height: 55rem;
    } 

    /* FIXME: Hero adjustments end */

    /* TODO: Faqs adjustments */

    .faqs__section {
        gap: 8rem;
    }

    .faq {
        width: 75rem;
    }

    /* FIXME: Faqs adjsutments end */

    /* TODO: See more adjustments */

    .see__more__content__container {
        padding-left: 6%;
    }

    .product__image__container img {
        width: 36rem;
        height: 40rem;
    }

    .user__not__logged__container .fa-times {
        right: 10%;
        font-size: 6rem;
    }

    /* FIXME: See more adjustments end */

    /* TODO: Cart adjustments */

    .my__cart {
        grid-template-columns: repeat(3, 40rem);
    }

    /* FIXME: Cart adjustments end */

}

@media screen and (min-width: 1400px) {

    /* TODO: Setting up the project adjustments */

    :root {
        --header-horizontal-padding: 10%;
    }

    /* FIXME: Setting up the project adjustments end */

    /* TODO: Hero adjustments */

    .hero {
        gap: 4rem;
    }

    /* FIXME: Hero adjustments end */

     /* TODO: See more adjustments */

    .see__more__content__container {
        padding-left: 10%;
    }

    /* FIXME: See more adjustments end */
    
}

@media screen and (min-width: 1500px) {

     /* TODO: Setting up the project adjustments */

    :root {
        --header-horizontal-padding: 15%;
    }

    /* FIXME: Setting up the project adjustments end */

    /* TODO: Hero adjustments */

    .hero {
        gap: 8rem;
    }

    /* FIXME: Hero adjustments end */
    
}
